.myButton {
	box-shadow: 3px 4px 0px 0px #797360bb;
	background:linear-gradient(to bottom, #ededed 5%, #e9d41a 100%);
	background-color:#fcc97ee1;
	border-radius:15px;
	border:1px solid #fd5dfdcc;
	display:inline-block;
	cursor:pointer;
	color:#248fe78f;
	font-family:Arial;
	font-size:17px;
	padding:8px 20px;
	text-decoration:none;
    text-shadow:0px 1px 0px #04050caf;
    margin-top: 0px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e4d442 5%, #ffbf8ac2 100%);
	background-color:#7f828877;
}
.myButton:active {
	position:relative;
	top:1px;
}

.box{
	background-color: rgba(250, 250, 230, 0.616);
	box-shadow: 5px 5px 8px 5px #f1c43294;
	border-radius: 6px 6px 6px 6px;
	padding-top: 10px;
	color: black;
	border: 1px solid rgb(255, 145, 0);
	width: 350px;
  }