<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Shift Alloction</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/vendor/owl.carousel/static/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Tempo - v2.0.0
  * Template URL: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    .box{
      background-color: lavenderblush;
      box-shadow: 5px 5px 8px 5px #f1c43294;
      border-radius: 6px 6px 6px 6px;
      width: 400px;
      color: black;
      border: 1px solid rgb(255, 145, 0);
     
    }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/adminhome">Shift-Allocation</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li ><a href="/adminhome">Home</a></li>
          <li  ><a href="/assignpro">Assign Project</a></li>
       
          <li class="drop-down"><a href="">ADD</a>
            <ul>
              <li><a href="/adddep">ADD DEPARTMENT</a></li>
              <li><a href="/addshift">ADD SHIFT</a></li>
              <li><a href="/addpro">ADD PROJECT</a></li>
              <li><a href="/adddess">ADD DESIGNATION</a></li>
              
            </ul>
          </li>
          <li class="drop-down"><a href="">VIEW</a>
            <ul>
              
              <li><a href="/viewproject">VIEW PROJECT</a></li>
              <li><a href="/viewemp">VIEW EMPLOYEE</a></li>
              <li><a href="/viewassignedpro">VIEW ASSIGNED PROJECTS</a></li>
              <li  class="active"><a href="/viewrequest">VIEW REQUEST</a></li>
              
            </ul>
          </li>
          <li><a href="/signin">Logout</a></li>

        </ul>
      </nav><!-- .nav-menu -->


    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
        
     <table align="center" style="border-style: solid;border-collapse: collapse;text-align: center"
     border="1" >
    <thead style="background-color: rgba(245, 211, 161, 0.473);">
    
    <th>Empid</th>
    <th>Empname</th>
    <th>Request</th>
    
    </thead>
    {% for a,b,c,d in requests %}
    <tr style="background-color: rgba(152, 240, 171, 0.952);">
    <td>{{b}}</td>
    <td>{{c}}</td>
    <td>{{d}}</td>
    
    </tr>
    {% endfor %}
    </table>
        
  </section><!-- End Hero -->

  

  <!-- ======= Footer ======= -->
  <footer id="footer">

    
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/ -->
          Designed by <a href="https://1000projects.org/">1000projects</a>
        </div>
      </div>
     
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>